.Teacher_Header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 9%;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #6c8ed0;
    box-shadow: 0 3px 6px rgba(51, 51, 51, 0.1);
    transition: all 200ms ease;
}

.Logo {
    margin-left: 12.5%;
}

.Navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
}

.Page_Style {
    font-family: Quicksand, serif;
    font-size: 0.9vw;
    font-weight: normal;
    color: white;
    margin: auto;
    cursor: pointer;
}

.Teacher_Header_User {
    height: 2vw;
    border: 1px solid white;
    border-radius: 1vw;
    display: flex;
    cursor: pointer;
    margin: auto 12.5% auto 0;
}

.Teacher_Header_User_Text {
    font-family: Quicksand, serif;
    font-size: 0.75vw;
    font-weight: normal;
    color: white;
    margin: auto 1.5vw auto 1.5vw;
}