.LoginRight {
    width: 50%;
    background: linear-gradient(212.62deg, #6c8ed0 0%, #547ecc 100%);
    display: flex;
}

.Decoration {
    width: 55%;
    margin: auto auto auto auto;
}

.Card {
    margin: auto auto auto 0;
    position: relative;
    display: flex;
    flex-direction: row;
}

.Card_Image_Container {
    max-height: 80%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(212.62deg, #84abe7 0%, #6c8ed0 100%);
    box-shadow: 0 3px 6px rgba(51, 51, 51, 0.1);
    border-radius: 2vw;
    overflow: visible;
}

.Card_Image {
    width: 75%;
    margin: auto 0 auto auto;
}

.Card_Emoji_Left {
    width: 5vw;
    height: 5vw;
    position: absolute;
    bottom: 17.5%;
    left: -2.5vw;
    background: white;
    border-radius: 50%;
    display: flex;
}

.Card_Emoji_Right {
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 17.5%;
    right: -2.5vw;
    background: white;
    border-radius: 50%;
    display: flex;
}

.Card_Emoji {
    font-size: 2vw;
    margin: auto;
    font-family: Quicksand, serif;
}

.Card_Title {
    width: 40%;
    font-family: Quicksand, serif;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 2vw;
    margin: 2vw auto auto 2vw;
}

.Vertical_Stick {
    width: 0.1vw;
    height: 4vw;
    position: absolute;
    top: 35%;
    left: 2vw;
    background: rgba(255, 255, 255, 0.5);
}

.Horizontal_Stick {
    width: 4vw;
    height: 0.1vw;
    position: absolute;
    top: 95%;
    left: 2vw;
    background: rgba(255, 255, 255, 0.5);
}